In [1]:
import pandas as pd
import json

In [2]:
from sklearn.datasets import load_iris
data = load_iris()

In [3]:
df = pd.DataFrame(data=data.data, columns=data.feature_names)

In [4]:
df.groupby('sepal length (cm)').sum()

                   sepal width (cm)  petal length (cm)  petal width (cm)
sepal length (cm)
4.3                             3.0                1.1               0.1
4.4                             9.1                4.0               0.6
4.5                             2.3                1.3               0.3
4.6                            13.3                5.3               0.9
4.7                             6.4                2.9               0.4
4.8                            15.9                7.9               1.0
4.9                            17.7               13.6               3.3
5.0                            31.2               18.4               4.3
5.1                            31.3               15.5               3.6
5.2                            13.7                8.3               1.9
5.3                             3.7                1.5               0.2
5.4                            21.3               12.2               3.1
5.5                            19.9               22.6               6.3
5.6                            16.9               25.2               8.5
5.7                            24.8               28.7               8.8
5.8                            20.2               28.5               9.8
5.9                             9.2               14.1               5.1
6.0                            16.4               27.9               9.0
6.1                            17.1               28.5               8.5
6.2                            11.3               19.0               6.9
6.3                            25.7               46.2              16.3
6.4                            20.7               36.1              13.1
6.5                            15.0               26.2               9.5
6.6                             5.9                9.0               2.7
6.7                            24.4               42.1              15.7
6.8                             9.0               16.2               5.8
6.9                            12.5               21.1               8.2
7.0                             3.2                4.7               1.4
7.1                             3.0                5.9               2.1
7.2                             9.8               17.9               5.9
7.3                             2.9                6.3               1.8
7.4                             2.8                6.1               1.9
7.6                             3.0                6.6               2.1
7.7                            12.2               26.4               8.8
7.9                             3.8                6.4               2.0

In [4]:
# A profile has Posts and Posts have comments
from pydantic import BaseModel, ConfigDict

class Profile(BaseModel):
    model_config = ConfigDict(strict=True)
    name: str
class Post(BaseModel):
    model_config = ConfigDict(strict=True)
    id: int
    title: str
class Comment(BaseModel):
    model_config = ConfigDict(strict=True)
    id: int
    body: str
    post: Post

import requests
json_data = requests.get('https://my-json-server.typicode.com/typicode/demo/db').json()
profiles = []
try:
   profiles.append(Profile.model_validate(json_data.get('profile')))
except ValueError as e:
    print(f"ERROR: parsing profile {p} failed: {e}")

profiles

[Profile(name='typicode')]

In [5]:
posts = []
for p in json_data.get('posts', []):
    try:
        posts.append(Post.model_validate(p))
    except ValueError as e:
        print(f"ERROR: parsing post {p} failed: {e}")
posts

[Post(id=1, title='Post 1'),
 Post(id=2, title='Post 2'),
 Post(id=3, title='Post 3')]

In [6]:
comments = []
for c in json_data.get('comments', []):
    try:
        c['post'] = [p for p in posts if p.id == c['postId']][0]
        comments.append(Comment.model_validate(c))
    except ValueError as e:
        print(f"ERROR: parsing comment {p} failed: {e}")
    except Exception as e:
        print(f'ERROR: parsing due to {e}')
comments

[Comment(id=1, body='some comment', post=Post(id=1, title='Post 1')),
 Comment(id=2, body='some comment', post=Post(id=1, title='Post 1'))]

In [7]:
import streamlit as st
import pandas as pd
df = pd.DataFrame([c.dict() for c in comments])
st.title("Example")
df

# Example

   id          body                          post
0   1  some comment  {'id': 1, 'title': 'Post 1'}
1   2  some comment  {'id': 1, 'title': 'Post 1'}